.teleMail{
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 1rem;
}

.teleMail1{
    display: flex;
    box-sizing: content-box;
    position: relative;
    width: 11%;
    margin-left: 9%;
    padding: 0.5%;
}
#teleIcon{
    position: absolute;
    top: 26%;
    left: 5%;
}
#teleNum{
    margin-left: 15%;
}
.teleMail2{
    display: flex;
    box-sizing: content-box;
    position: relative;
    width: 12%;
    margin-left: 3%;
    padding: 0.5%;
}
#letterIcon{
    position: absolute;
    top: 26%;
    left: 4%;
}
#email{
    margin-left: 11%;
}
.teleMail1:hover,
.teleMail2:hover{
    background-color: darkgoldenrod;
}
